*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: rgb(229, 229, 229);
}

.box{
  background-image: url("./assets/images/background1.jpg");
  height: 100vh;
  width: 100vw;
  filter: grayscale(50%);
  color: white;
  word-wrap: break-word;
}

.innerbox{
  position: relative;
  top: 192px;
  filter: brightness(100%);
}

.image1{8
  border-radius: 10px;
}

.box3{
  height: 300px;
  width: 1272px;
  background-color: white;
  border-radius: 10px;
  position: absolute;
}

.features2{
  height: 358px;
  width: 270px;
  position: relative;
  bottom: 54px;
  border-radius: 10px;
  
}

.box4p{
  color: grey;
  font-size: larger;
}

.box5img{
  width: 300px;
  border-radius: 10px;
}

box5card{
position: relative;

}

box5cardbody{
  position: absolute;
  top: -132px;
left: 184px;
}

